<doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <main>
        <h1>404</h1>
        <p>Page not found</p>
    </main>
</body>
</html>
