<div id="modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body">
            <p>{{modal.message}}</p>
        </div>
        <div class="modal-footer">
            <button id="modal-btn" type="button" class="btn btn-default btn-flat" data-dismiss="modal">Ok</button>
        </div>
    </div>
</div>