.auth-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    padding: 2em;
    height: 100vh;
    width: 100%;
    max-width: 100vw;
}

.auth-container .auth-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-container .auth-info img {
    width: 100%;
    max-width: 400px;
}

.auth-container .auth-info h2 {
    font-size: 2em;
    line-height: 1.1;
}

.auth-container .auth-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-container .auth-form h1 {
    font-size: 2em;
    line-height: 1.1;
    margin-bottom: 1em;
}

.auth-container .auth-form .group-switch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1em;
    margin-bottom: 1em;
}

.auth-container .auth-form .form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1em;
    position: relative;
}

.auth-container .auth-form .form-group label {
    font-size: 1em;
    font-weight: bold;
    align-self: flex-start;
}

.auth-container .auth-form .form-group input {
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #252525;
    border: 1px solid transparent;
    transition: background-color 0.25s, border-color 0.25s;
}

.auth-container .auth-form .form-group input:focus, .auth-container .auth-form .form-group input:focus-visible {
    outline: none;
}

.auth-container .auth-form .form-group input::placeholder {
    color: #a0a0a0;
}

.auth-container .auth-form .form-group input:hover {
    background-color: #2e2e2e;
}

.auth-container .auth-form .form-group input:focus, .auth-container .auth-form .form-group input:focus-visible {
    border-color: #529cca;
}

.auth-container .auth-form .form-group input.error {
    border-color: #ff7369;
}

.auth-container .auth-form .form-group i {
    position: absolute;
    right: 1em;
    top: 75%;
    transform: translateY(-75%);
    color: #a0a0a0;
}

.auth-container .auth-form .form-group i.error {
    color: #ff7369;
}

.auth-container .auth-form .form-group i.success {
    color: #ffdc49;
}

.auth-container .auth-form .form-group i.interactive {
    cursor: pointer;
}

.auth-container .auth-form .form-group i.interactive:hover {
    color: #646cff;
}

.auth-container .auth-form .info-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1em;
}

.auth-container .auth-form .info-group p {
    font-size: 1em;
    font-weight: 700;
    color: #ff7369;
}

.auth-container .auth-form .info-group p.error {
    animation: error 0.5s ease-in-out;
    animation-iteration-count: 1;
}

@keyframes error {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-1em);
    }
    50% {
        transform: translateX(1em);
    }
    75% {
        transform: translateX(-1em);
    }
    100% {
        transform: translateX(0);
    }
}

.auth-container .form-space {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5em;
    align-items: center;
    width: 100%;
}

.auth-container .form-space p {
    font-size: 1em;
    color: #a0a0a0;
}

.auth-container .form-space a {
    font-size: 1em;
    font-weight: 500;
    color: #529cca;
    text-decoration: none;
}

.auth-container .form-space a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .auth-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 0;
        padding: 1rem;
    }

    .auth-container .auth-info {
        order: 2;
    }

    .auth-container .auth-form {
        order: 1;
    }
}