.note-banner {
    background-color: #252525;
    color: #fff;
    width: 100%;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
}

.note-banner .note-paper {
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 100%;
}

.note-banner .note-paper .note-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.note-banner .note-paper .note-image img {
    width: 100%;
    height: 100%;
    object-position: center 20%;
    object-fit: cover;
}

.note-banner .note-paper .note-settings {
    position: relative;
    width: 100%;
}

.note-banner .note-paper:hover .note-settings .settings-buttons {
    opacity: 1;
}

.note-banner .note-paper .note-settings .settings-buttons {
    opacity: 0;
    position: absolute;
    bottom: 1rem;
    right: 3rem;
    transition: opacity 0.25s;
}

.note-banner .note-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: fit-content;
    padding: 1rem;
    position: relative;
    transform: translateX(20%);
}

.note-banner .note-info .note-logo {
    width: 10rem;
    height: 10rem;
    border-radius: 10%;
    overflow: hidden;
    position: absolute;
    top: -5rem;
    transition: all 0.25s ease-in-out;
}

.note-banner .note-info .note-logo:hover {
    cursor: pointer;
    background-color: #ffffff1a; ;
}

.note-banner .note-info .note-logo img {
    padding: .5rem;
    border-radius: 10%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.note-banner .note-info .note-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-block: 1rem;
}

.note-banner .note-info .note-spacing {
    margin-bottom: 3rem
}

.note-banner .note-info .note-data .title {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    background-color: transparent;
    border: none;
}

.note-banner .note-info .note-data .content {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
    background-color: transparent;
    border: none;
    width: 100%;
}

.holy-grail-grid {
    display: grid;
    grid-template-areas: 
        'header'
        'main-content'
        'left-sidebar'
        'right-sidebar';
}

.holy-grail-grid > * {
    padding: 1rem;
}

.holy-grail-grid > .header {
    grid-area: header;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    gap: .5rem;
    align-items: center;
    padding-left: 6rem;
}

.header i {
    font-size: 2rem;
}

.header h3 {
    font-size: 1.8rem;
    font-weight: 400;
}

.holy-grail-grid > .main-content {
    grid-area: main-content;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.holy-grail-grid > .left-sidebar {
    grid-area: left-sidebar;
}

.left-sidebar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.holy-grail-grid > .right-sidebar {
    grid-area: right-sidebar;
}

@media (min-width: 768px) {
    .holy-grail-grid {
        grid-template-areas: 
            'header header'
            'main-content main-content'
            'left-sidebar right-sidebar';
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    .holy-grail-grid {
        grid-template-areas: 
            'header header header'
            'left-sidebar main-content right-sidebar';
        grid-template-columns: repeat(3, 1fr);
    }
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.task-list .task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #252525;
    gap: 1rem;
    width: 100%;
    max-width: 100%;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px #0000001a;
    transition: all 0.3s ease-in-out;
}

.task-list .task:hover {
    cursor: pointer;
    background-color: #ffffff1a;
    transform: scale(1.02);
}

.task-list .task .task-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    width: 100%;
    max-width: 100%;
}

.task-list .task .task-info h4 {
    font-size: 1.5rem;
    font-weight: 400;
}

.task-list .task .task-info p {
    font-size: 1rem;
    font-weight: 300;
}

.task-list .task .task-info .task-settings {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    max-width: 100%;
}

.task-list .task .task-info .task-settings button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    max-width: 100%;
}

.task-list .task .task-info .task-settings button i {
    font-size: 1.5rem;
}

.task-list .taskAdvice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    background-color: #252525;
    padding: 1rem;
    border-radius: 1rem;

    transition: all 0.3s ease-in-out;
}

.task-list .taskAdvice button {
    width: 5rem;
}

.task-list .taskAdvice:hover {
    cursor: pointer;
    background-color: #ffffff1a;
    transform: scale(1.02);
}

.addTaskMenu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    background-color: #252525;
    padding: 1rem;
    border-radius: 1rem;

    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.addTaskMenu .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

.addTaskMenu .form-group input, .addTaskMenu .form-group textarea {
    width: 100%;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #2e2e2e;
    border: 1px solid transparent;
    transition: background-color 0.25s, border-color 0.25s;
}

.addTaskMenu .form-group input:hover, .addTaskMenu .form-group textarea:hover {
    background-color: #252525;
}

.addTaskMenu .form-group label {
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
    width: 100%;
    max-width: 100%;
    text-align: left;
}

.active {
    display: flex;
    opacity: 1;
}

.addTaskMenu:hover {
    cursor: pointer;
    background-color: #ffffff1a;
    transform: scale(1.02);
}

.main-content .blog-title {
    width: 100%;
    position: relative;
    font-size: 1.5rem;
    font-weight: 400;
}

.main-content .blog-title textarea {
    font-size: 1.5rem;
    font-weight: 400;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border: none;
    resize: none;
    overflow: hidden;
    outline: none;
    color: #fff;
}

.main-content .blog-title span {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1rem;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.main-content .blog-title:hover span, .main-content .blog-title textarea:focus + span {
    opacity: 1;
}

.main-content .blog-content {
    width: 100%;
    position: relative;
    font-size: 1rem;
    font-weight: 300;
}

.main-content .blog-content textarea {
    font-size: 1rem;
    font-weight: 300;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border: none;
    resize: none;
    overflow: hidden;
    outline: none;
    color: #fff;
}

.main-content .blog-content span {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1rem;
}

@media (max-width: 768px) {
    
    .note-banner .note-info {

        transform: translateX(0%);
    }
}
    