{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Producto</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/general-style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tienda-style.css' %}">
</head>
<body>
    {% include 'layouts/Header.html' %}
    <section class="producto-view">
        <section class="producto-info">
            <h1> {{ producto.nombre }} </h1>
            <div class="producto-detalles">
                <p> Descripcion: <span> {{ producto.descripcion }} </span> </p>
                {% if producto.categoria_set.all %}
                    <p> Categorías:
                        {% for categoria in producto.categoria_set.all %}
                            <span>{{ categoria.titulo }}</span>
                        {% endfor %}
                    </p>
                {% endif %}
                <p> Precio: <span> {{ producto.precio }} </span> </p>
            </div>
            <div>
                <formfield class="single-field">
                    <label for="cantidad">Cantidad</label>
                    <input type="number" name="cantidad" id="cantidad" placeholder="0">
                </formfield>
                <button type="button" id="compra" class="outline primary">Comprar</button>
            </div>
        </section>
        <section class="product-images">
            <article class="image-container">
                <img id="main-image" src="{{ producto.imagenes.first.url }}" alt="Imagen del producto">
            </article>
            <div class="preview-container">
                {% for imagen in producto.imagenes.all %}
                    <img src="{{ imagen.url }}" class="preview-img" alt="{{ imagen.alt }}" onclick="cambiarImagen(this, '{{ imagen.url }}')">
                {% endfor %}
            </div>
        </section>
    </section>
    <div id="modal" class="modal" hidden>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Exito</h4>
            </div>
            <div class="modal-body">
                <p>Compra Realizada Correctamente</p>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn success" href="{% url 'tienda' %}">Aceptar</a>
            </div>
        </div>
    </div>
    <script>
        function cambiarImagen(elemento, url) {
            var miniaturas = document.querySelectorAll('.preview-img');
            miniaturas.forEach(function (miniatura) {
                miniatura.classList.remove('active');
            });

            elemento.classList.add('active');

            document.getElementById('main-image').src = url;
        }
        modal = document.querySelector('#modal');
        compra = document.querySelector('#compra');
        compra.addEventListener('click', function () {
            modal.removeAttribute('hidden');
            modal.style.display = 'block';
        });
    </script>
</body>
</html>
