.notes-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #2e2e2e;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.notes-header .astro-notes {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
}

.notes-header .astro-icon {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}

.notes-header .astro-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.notes-header .astro-notes p {
    font-size: 1.5rem;
}

.notes-header .astro-info {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
}


.notes-header .astro-info .astro-text {
    display: flex;
    flex-direction: column;
    margin-right: 0.5rem;
}

.notes-header .astro-info .astro-text p {
    font-size: .6em;
}

.notes-header .astro-info .astro-text span {
    font-size: .5em;
    font-weight: 400;
}

.settings {
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
    position: relative;
}

.settings i {
    font-size: 2rem;
    color: #fff;
    cursor: pointer;

}

.settings i:hover {
    color: #9a6dd7;
}

.settings .settings-menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 15rem;
    max-height: 15rem;
    overflow: auto;
    background-color: #2e2e2e;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    z-index: 1;
}

.settings:hover .settings-menu {
    display: flex;
    animation: open-close 0.3s ease-in-out;
}

@keyframes open-close {
    0% {
        opacity: 0;
        transform: translateY(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.settings .settings-menu .settings-item {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    background-color: #2e2e2e;
}

.settings .settings-menu .settings-item:hover {
    background-color: #191919;
}

@media screen and (max-width: 768px) {
    .notes-header {
        flex-direction: flex;
        justify-content: space-between;
    }

    .notes-header .astro-info .astro-text {
        margin-right: 0;
    }

    
.notes-header .astro-info .astro-text {
    display:  none;
}

    .settings {
        margin-left: 0;
    }
}
    