{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/general-style.css' %}">
</head>
<body>
    {% include 'layouts/Header.html' %}
    <main class="grid columns-2 grid-center m-20">
        <div class="col-center">
            <img src="{% static 'images/info.png' %}" alt="info">
        </div>
        <div class="col-center">
            <h2>Login</h2>
            <form action="{% url 'login' %}" method="POST" class="form">
                {% csrf_token %}
                <formfield class="single-field">
                    <label for="username">Usuario</label>
                    <input type="text" name="username" id="username" placeholder="Usuario" required>
                </formfield>
                <formfield class="single-field">
                    <label for="password">Contraseña</label>
                    <input type="password" name="password" id="password" placeholder="Contraseña" required>
                </formfield>
                <div class="button-group">
                    <button class="btn btn-primary">Autentificar</button>
                    <a class="btn btn-secondary"    href="{% url 'register' %}">Registrarse</a>
                </div>
            </form>
            {% include 'layouts/info.html' %}
        </div>
    </main>
    {% if error %}
    <div class="toast" id="toast" data-autohide="true">
        <div class="toast-info">
            <strong class="mr-auto">Error</strong>
            <p>{{ error }}</p>
        </div>
        <button type="button" class="close" data-dismiss="toast">&times;</button>
    </div>
    {% endif %}
</body>
<script>
    window.onload = function(){
        var toast = document.getElementById("toast");
        if(toast){
            toast.classList.add("show");
        }
    }

    close = document.getElementsByClassName("close")[0];
    close.onclick = function(){
        toast.style.display = "none";
    }
</script>
</html>
