{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/general-style.css' %}">
</head>
<body>
    {% include 'layouts/Header.html' %}
    <main class="grid columns-2 grid-center m-20">
        <div class="col-center">
            <h2>Registro</h2>
            <form  method="POST" action="{% url 'register' %}">
                {% csrf_token %}
                <formfield class="single-field">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" placeholder="Jhon" required>
                </formfield>
                <formfield class="single-field">
                    <label for="apellido">Apellido</label>
                    <input type="text" name="apellido" id="apellido" placeholder="Doe" required>
                </formfield>
                <formfield class="single-field">
                    <label for="cedula">Cedula</label>
                    <input type="text" name="cedula" id="cedula" placeholder="1.193.121.459" required>
                </formfield>
                <formfield class="single-field">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="jhon@algo.otro" required>
                </formfield>
                <formfield class="multi-field">
                    <formfield class="single-field">
                        <label for="username">Usuario</label>
                        <input type="text" name="username" id="username" placeholder="Usuario" required>
                    </formfield>
                    <formfield class="single-field">
                        <label for="password">Contraseña</label>
                        <input type="password" name="password" id="password" placeholder="Contraseña" required>
                    </formfield>
                </formfield>
                <div class="button-group">
                    <button class="btn btn-primary">Registrar</button>
                    <a class="btn btn-secondary" href="{% url 'login' %}">Login</a>
                </div>
            </form>
        </div>
        <div class="col-center">
            <img src="{% static 'images/info.png' %}" alt="info">
            {% include 'layouts/info.html' %}
        </div>
    </main>
    {% if succes %}
        {% include 'layouts/modal.html' with title="Registro exitoso" message="Se ha registrado exitosamente" url="login" %}
    {% endif %}
    {% if error %}
        <div class="toast" id="toast" data-autohide="true">
            <div class="toast-info">
                <strong class="mr-auto">Error</strong>
                <p>{{ error }}</p>
            </div>
            <button type="button" class="close" data-dismiss="toast">&times;</button>
        </div>
    {% endif %}
</body>
<script>
    window.onload = function(){
        var toast = document.getElementById("toast");
        if(toast){
            toast.classList.add("show");
        }
    }

    close = document.getElementsByClassName("close")[0];
    close.onclick = function(){
        toast.style.display = "none";
    }
</script>
</html>
