*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;

    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header nav {
    float: left;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header nav ul li {
    display: inline-block;
    margin-right: 10px;
}

header nav ul li:last-child {
    margin-right: 0;
}

header nav ul li a {
    padding: 5px 10px;
    color: #333;
}

header nav ul li a:hover {
    background-color: #eee;
}

header nav ul li a:active {
    background-color: #ddd;
}

header nav ul li a.active {
    background-color: #337ab7;
    color: #fff;
}

header .right-content {
    float: right;
}

.grid {
    display: grid;
}

.grid-center {
    align-items: center;
    justify-content: center;
}

.col-center {
    margin: 0 auto;
}

.columns-1 {
    grid-template-columns: 1fr;
}

.columns-2 {
    grid-template-columns: repeat(2, 1fr);
}

.col-1 {
    grid-column: 1 / 1;
}

.col-2 {
    grid-column: 1 / 2;
}

.flex {
    display: flex;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.w-full {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}

.h-full {
    height: 100%;
}

.h-50 {
    height: 50%;
}

.h-25 {
    height: 25%;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.p-30 {
    padding: 30px;
}

.m-10 {
    margin: 10px;
}

.m-20 {
    margin: 20px;
}

.m-30 {
    margin: 30px;
}

.border {
    border: 1px solid #ccc;
}

button, .btn {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    text-decoration: none;

    transition: all 0.2s ease-in-out;
}

.btn:hover {
    text-decoration: none;
}

button.primary, .btn.primary {
    background-color: #337ab7;
    color: #fff;
    border: 1px solid #337ab7;
}

button.primary:hover, .btn.primary:hover {
    background-color: #286090;
    border: 1px solid #286090;
    color: #fff;
    text-decoration: none;
}

button.primary:active, .btn.primary:active {
    background-color: #204d74;
    color: #fff;
}

button.secondary, .btn.secondary {
    background-color: #5bc0de;
    color: #fff;
}

button.secondary:hover, .btn.secondary:hover {
    background-color: #31b0d5;
    color: #fff;
    text-decoration: none;

}

button.secondary:active, .btn.secondary:active {
    background-color: #269abc;
    color: #fff;
}

button.success, .btn.success {
    background-color: #5cb85c;
    color: #fff;
}

button.success:hover, .btn.success:hover {
    background-color: #449d44;
    color: #fff;
    text-decoration: none;

}

button.success:active, .btn.success:active {
    background-color: #398439;
    color: #fff;
}

button.info, .btn.info {
    background-color: #5bc0de;
    color: #fff;
}

button.info:hover, .btn.info:hover {
    background-color: #31b0d5;
    color: #fff;
}

button.info:active, .btn.info:active {
    background-color: #269abc;
    color: #fff;
}

button.warning, .btn.warning {
    background-color: #f0ad4e;
    color: #fff;
}

button.warning:hover, .btn.warning:hover {
    background-color: #ec971f;
    color: #fff;
}

button.warning:active, .btn.warning:active {
    background-color: #d58512;
    color: #fff;
}

button.danger, .btn.danger {
    background-color: #d9534f;
    color: #fff;
}

button.danger:hover, .btn.danger:hover {
    background-color: #c9302c;
    color: #fff;
}

button.danger:active, .btn.danger:active {
    background-color: #ac2925;
    color: #fff;
}

button.outline, .btn.outline {
    background-color: transparent;
    color: #333;
    border: 1px solid #333;
}

button.outline:hover, .btn.outline:hover {
    background-color: #333;
    color: #fff;
    text-decoration: none
}

button.outline:active, .btn.outline:active {
    background-color: #333;
    color: #fff;
}

button.outline.primary, .btn.outline.primary {
    background-color: transparent;
    color: #337ab7;
    border: 1px solid #337ab7;
}

button.outline.primary:hover, .btn.outline.primary:hover {
    background-color: #337ab7;
    color: #fff;
}

button.outline.secondary, .btn.outline.secondary {
    background-color: transparent;
    color: #5bc0de;
    border: 1px solid #5bc0de;
}

button.outline.secondary:hover, .btn.outline.secondary:hover {
    background-color: #5bc0de;
    color: #fff;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: none;
}

.modal .modal-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 500px;
}

.modal .modal-content .modal-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.modal .modal-content .modal-header .modal-title {
    font-size: 18px;
    font-weight: 700;
}

.modal .modal-content .modal-body {
    padding: 10px 0;
}

.modal .modal-content .modal-footer {
    padding-top: 10px;
    border-top: 1px solid #eee;
}

.modal .modal-content .modal-footer .btn {
    margin-right: 10px;
}

.modal .modal-content .modal-footer .btn:last-child {
    margin-right: 0;
}

.toast {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 10px 20px;
    

    width: 100%;
    height: auto;

    position: fixed;
    top: -100px;
    left: 0;

    background-color: #fff;
    border-bottom: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.toast.show {
    animation: slideIn 0.5s ease-in-out forwards;
}

@keyframes slideIn {
    from {
        top: -100px;
    }

    to {
        top: 0;
    }
}

.toast p {
    margin: 0;
}

.toast-info {
    display: flex;
    flex-direction: column;
}


form {
    margin-bottom: 0;
}

.single-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 10px;
}

.single-field label {
    margin-bottom: 5px;
}

.multi-field {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    gap: 10px;
}

.multi-field label {
    margin-bottom: 5px;
}

.button-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

input, select, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: transparent;
    outline: none;
}

input:focus, select:focus, textarea:focus {
    border-color: #337ab7;
}

a {
    text-decoration: none;
    color: #337ab7;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #23527c;
}