{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Categoria</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/general-style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tienda-style.css' %}">
</head>
<body>
    {% include 'layouts/Header.html' %}
    <section class="categoria-view">
        <h1 class="categoria-title">{{ categoria.titulo }}</h1>
        <div class="categoria-container">
            {% for Producto in categoria.productos.all %}
                <a href="{% url 'producto' id=Producto.id %}" class="producto-link">
                    <article class="producto-container">
                        <div class="producto-img-container">
                            {% if Producto.imagenes.all %}
                                {% with random_image=Producto.imagenes.all|random %}
                                    <img src="{{ random_image.url }}" alt="{{ random_image.alt }}" class="producto-img">
                                {% endwith %}
                            {% else %}
                                <img src="{% static "images/no-image.jpg" %}" alt="No image" class="producto-img">
                            {% endif %}
                            <p class="producto-categoria">{{categoria.titulo}}</p>
                        </div>
                        <p class="producto-title">{{Producto.nombre}}</p>
                        <p class="producto-price">${{Producto.precio}}</p>
                    </article>
                </a>
            {% endfor %}
        </div>
    </section>
</body>
