{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Tiendas</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/general-style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tienda-style.css' %}">
</head>
<body>
    {% include 'layouts/Header.html' %}
    {% for categoria in categorias %}
        <section class="categoria-section">
            <div class="categoria-info">
                <p class="categoria-title">{{categoria.titulo}}</p>
                <a href="{% url 'categoria' id=categoria.id %}" class="btn outline">Ver mas</a>
            </div>
            <section class="categoria-container">
                {% for Producto in categoria.productos.all %}
                <a href="{% url 'producto' id=Producto.id %}" class="producto-link">
                        <article class="producto-container">
                            <div class="producto-img-container">
                                {% if Producto.imagenes.all %}
                                    {% with random_image=Producto.imagenes.all|random %}
                                        <img src="{{ random_image.url }}" alt="{{ random_image.alt }}" class="producto-img">
                                    {% endwith %}
                                {% else %}
                                    <img src="{% static "images/no-image.jpg" %}" alt="No image" class="producto-img">
                                {% endif %}
                                <p class="producto-categoria">{{categoria.titulo}}</p>
                            </div>
                            <p class="producto-title">{{Producto.nombre}}</p>
                            <p class="producto-price">${{Producto.precio}}</p>
                        </article>
                    </a>
                {% endfor %}
            </section>
        </section>
    {% endfor %}
</body>
