<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/home.styles.css' %}">
    <title>Home</title>
</head>
<body>
    <header>
        <img src="{% static 'images/home.jpg' %}" alt="logo" class="logo">
        <nav>
            <ul>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <img src="{% static 'images/welcome.jpg' %}" class="welcome-image" alt="welcome image">
        <h1>Bienveindo {{user}}</h1>
        <h2>Estas en la pagina de inicio</h2>
        <article class="diagram-holder">
            <p>Diagrama UML</p>
            <img src="{% static 'images/uml.png' %}" alt="uml diagram" class="diagram">
        </article>
    </main>
</body>
</html>