#root {
    margin: 0;
    padding: 0;
    text-align: center;
  }

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #191919;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --color1:#e012e7;
    --color2: #250dd8;
    --color3: 	#1e177f;
}
  
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}
  
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
  
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
  
button {
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  color: #252525;
  cursor: pointer;
  transition: background-color 0.25s, border-color 0.25s;
}

button:hover {
  background-color: #f9f9f9;
  border-color: #529cca;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
  
button.btn-secondary {
  background-color: #252525;
  color: #ffffff;
}
  
button.btn-secondary:hover {
  background-color: #191919;
}

button.btn-secondary:focus, button.btn-secondary:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.auth-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    padding: 2em;
    height: 100vh;
    width: 100%;
    max-width: 100vw;
}

.auth-container .auth-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-container .auth-info img {
    width: 100%;
    max-width: 400px;
}

.auth-container .auth-info h2 {
    font-size: 1.5em;
    line-height: 1.5;
    margin-bottom: 1em;
    text-align: center;

    animation: background-animation 3s linear infinite;
    background: linear-gradient(
      to right,
      var(--color1),
      var(--color2),
      var(--color3),
      var(--color1)
    );
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}


@keyframes background-animation {
    from {
        background-position: 0% center;
    }
      
    to {
      background-position: -200% center;
    } 
}

.auth-container .auth-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-container .auth-form h1 {
    font-size: 2em;
    line-height: 1.1;
    margin-bottom: 1em;
}

.auth-container .auth-form .group-switch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1em;
    margin-bottom: 1em;
}

.auth-container .auth-form .form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1em;
    position: relative;
}

.auth-container .auth-form .form-group label {
    font-size: 1em;
    font-weight: bold;
    align-self: flex-start;
}

.auth-container .auth-form .form-group input {
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #252525;
    border: 1px solid transparent;
    transition: background-color 0.25s, border-color 0.25s;
}

.auth-container .auth-form .form-group input:focus, .auth-container .auth-form .form-group input:focus-visible {
    outline: none;
}

.auth-container .auth-form .form-group input::placeholder {
    color: #a0a0a0;
}

.auth-container .auth-form .form-group input:hover {
    background-color: #2e2e2e;
}

.auth-container .auth-form .form-group input:focus, .auth-container .auth-form .form-group input:focus-visible {
    border-color: #529cca;
}

.auth-container .auth-form .form-group input.error {
    border-color: #ff7369;
    animation: error 0.5s ease-in-out 1;
}

.auth-container .auth-form .form-group i {
    position: absolute;
    right: 1em;
    top: 75%;
    transform: translateY(-75%);
    color: #a0a0a0;
}

.auth-container .auth-form .form-group i.error {
    color: #ff7369;
}

.auth-container .auth-form .form-group i.success {
    color: #ffdc49;
}

.auth-container .auth-form .form-group i.interactive {
    cursor: pointer;
}

.auth-container .auth-form .form-group i.interactive:hover {
    color: #646cff;
}

.auth-container .auth-form .form-group i.active {
    color: #646cff;
}

@keyframes error {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-1em);
    }
    50% {
        transform: translateX(1em);
    }
    75% {
        transform: translateX(-1em);
    }
    100% {
        transform: translateX(0);
    }
}

.auth-container .form-space {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5em;
    align-items: center;
    width: 100%;
}

.auth-container .form-space p {
    font-size: 1em;
    color: #a0a0a0;
}

.auth-container .form-space a {
    font-size: 1em;
    font-weight: 500;
    color: #529cca;
    text-decoration: none;
}

.auth-container .form-space a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .auth-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 0;
        padding: 1rem;
    }

    .auth-container .auth-info {
        order: 2;
    }

    .auth-container .auth-form {
        order: 1;
    }
}

.alert-holder {
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: auto;
}

.alert {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    padding: 1em;
    border-radius: 4px;
    background-color: #252525;
    color: #ffffff;
    margin-bottom: 1em;

    animation: alert-fade 0.5s ease-in-out;
    animation-iteration-count: 1;
}

.alert p {
    font-size: 1em;
    font-weight: 500;
}

.alert img {
    width: 5rem;
    height: auto;
    cursor: pointer;
}

.alert.alert-error {
    background-color: #ff7369;
    color: #ffffff;
}

@keyframes alert-fade {
    0% {
        opacity: 0;
        transform: translateY(1em);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}