#root {
    margin: 0;
    padding: 0;
    text-align: center;
  }

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #191919;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  max-width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-color: #292929;
    color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
}

header .logo {
    width: 4rem;
    height: 4rem;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

header nav ul li {
    margin-left: 1em;
}

main {
    padding-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    font-size: 3em;
    line-height: 1.1;
    margin-bottom: 1em;
	cursor: default;
}

main p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 1em;
	cursor: default;
}

main .welcome-image {
    width: 5rem;
    height: auto;

    margin-bottom: 1em;
    border-radius: 50%;

    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

main .welcome-image:hover {
    transform: scale(1.1);
}

.diagram-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.diagram-holder img {
    width: 80%;
    height: auto;
}
