#root {
    margin: 0;
    padding: 0;
    text-align: center;
  }

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #191919;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --color1:#e012e7;
    --color2: #250dd8;
    --color3: 	#1e177f;
}
  
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}
  
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
  
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
  
button {
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  color: #252525;
  cursor: pointer;
  transition: background-color 0.25s, border-color 0.25s;
}

button:hover {
  background-color: #f9f9f9;
  border-color: #529cca;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
  
button.btn-secondary {
  background-color: #252525;
  color: #ffffff;
}
  
button.btn-secondary:hover {
  background-color: #191919;
}

button.btn-secondary:focus, button.btn-secondary:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.auth-holder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    height: 100vh;
    width: 100%;
    max-width: 100vw;
}

.auth-form {
    padding-inline: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.auth-form p {
    font-size: 1em;
    color: #a0a0a0;
    align-self: center;
}

.auth-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.auth-info img {
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.auth-info h2 {
    padding-top: 5rem;
    font-size: 2em;
    line-height: 1.5;
    margin-bottom: 1em;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form h1 {
    font-size: 2em;
    line-height: 1.1;
    margin-bottom: 1em;
}

form .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1em;
    margin-bottom: 1em;
}

form formfield {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1em;
    position: relative;
}

form  label {
    font-size: 1em;
    font-weight: bold;
    align-self: flex-start;
}

form  input {
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #252525;
    border: 1px solid transparent;
    transition: background-color 0.25s, border-color 0.25s;
}

form  input:focus, form  input:focus-visible {
    outline: none;
}

form  input::placeholder {
    color: #a0a0a0;
}

form  input:hover {
    background-color: #2e2e2e;
}

form  input:focus, form  input:focus-visible {
    border-color: #529cca;
}

form  input.error {
    border-color: #ff7369;
    animation: error 0.5s ease-in-out 1;
}

form  i {
    position: absolute;
    right: 1em;
    top: 75%;
    transform: translateY(-75%);
    color: #a0a0a0;
}

form  i.error {
    color: #ff7369;
}

form  i.success {
    color: #ffdc49;
}

form  i.interactive {
    cursor: pointer;
}

form  i.interactive:hover {
    color: #646cff;
}

form  i.active {
    color: #646cff;
}

@keyframes error {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-1em);
    }
    50% {
        transform: translateX(1em);
    }
    75% {
        transform: translateX(-1em);
    }
    100% {
        transform: translateX(0);
    }
}

form .form-space {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5em;
    align-items: center;
    width: 100%;
}

form .form-space p {
    font-size: 1em;
    color: #a0a0a0;
}

form .form-space a {
    font-size: 1em;
    font-weight: 500;
    color: #529cca;
    text-decoration: none;
}

form .form-space a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    form {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 0;
        padding: 1rem;
    }

    form .auth-info {
        order: 2;
    }

    form {
        order: 1;
    }
}

.toast-container {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 999;
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.toast {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    animation: toast-in 0.3s ease-in-out;
}

.toast .toast-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toast .toast-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.toast .toast-body {
    display: flex;
    flex-direction: column;
}

.toast .toast-body p {
    font-size: 0.8rem;
}

@keyframes toast-in {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}