#root {
	margin: 0;
	padding: 0;
	text-align: center;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #191919;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}

a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	max-width: 100%;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

header {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #292929;
	color: #ffffff;

	display: flex; 
	padding: .5rem; 
	justify-content: space-between; 
	align-items: center; 
}

header img {
	margin: 0 1em;
	border-radius: 50%;
	aspect-ratio: 40/40;
	object-fit: cover;
}

nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	margin-left: 1rem;
}

nav button, nav .button {
	display: inline-flex;
  	align-items: center;
  	justify-content: center;
	border-radius: 0.375rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	background-color: transparent;
	font-weight: 500;
	border-width: 1px;
	border-style: solid;
	padding: 0.5rem 1rem;
	cursor: pointer;
	transition: all 0.3s ease-in-out 0s;
}

nav button:hover, nav .button:hover {
	background-color: #ffffff;
	color: #646cff;
	border-color: #ffffff;
	text-decoration: none;
}

nav a {
	color: #ffffff;
}

nav a:hover {
	color: #646cff;
	text-decoration: underline;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

main h1 {
	font-size: 3em;
	line-height: 1.1;
	margin-bottom: 1em;
	cursor: default;
}

main p {
	font-size: 1.2em;
	line-height: 1.5;
	margin-bottom: 1em;
	cursor: default;
}

.diagram-holder {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.diagram-holder img {
	width: 80%;
	height: auto;
}