/* CSS for the product list */
.product-list {
    width: 100vw;
    max-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #2A2A2A;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.05);
}

.product .product-image {
    width: 100%;
    height: 200px;
    background-color: #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.product .product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product .product-info {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.product .product-info h3 {
    margin: 0;
    font-size: 1.5rem;
}

.product .product-info p {
    margin: 0;
    font-size: 1.2rem;
}

.product .product-info .price {
    font-size: 1.2rem;
    font-weight: bold;
}

.product .product-info .price::before {
    content: "$ ";
}

.product a {
    margin-top: 1rem;
	display: inline-flex;
  	align-items: center;
  	justify-content: center;
	border-radius: 0.375rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	background-color: transparent;
	font-weight: 500;
	border-width: 1px;
	border-style: solid;
	padding: 0.5rem 1rem;
	cursor: pointer;
	transition: all 0.3s ease-in-out 0s;
}

.product a:hover {
    background-color: #ffffff;
    color: #646cff;
    border-color: #ffffff;
    text-decoration: none;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 1rem 0;
}

.product-content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    padding: 1rem;

}

.product-content .product-image {
    width: 70%;
    aspect-ratio: 1/1;
    background-color: #ccc;
    border-radius: 5px;
    overflow: hidden;
    justify-self: center;
    align-self: center;
}

.product-content .product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-content .product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-content .product-info h1 {
    margin: 0;
    font-size: 1.5rem;
}

.product-content .product-info p {
    margin: 0;
    font-size: 1.2rem;
}

.product-content .product-info .price {
    font-size: 1.2rem;
    font-weight: bold;
}

.product-content .product-info .description {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.product-content .product-info .description::before {
    content: "Descripción: ";
    font-weight: bold;
}
