{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>404 Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/general-style.css' %}">
</head>
<body>
    <main class='flex flex-column flex-center'>
        <img src="{% static 'images/404.png' %}" alt="404" class='w-50 p-30' >
        <h1 class='text-center'>Page not found</h1>
        {% if user.is_authenticated %}
            <a href="{% url 'tienda' %}" class='btn btn-primary'>Go to home</a>
        {% else %}
            <a href="{% url 'home' %}" class='btn btn-primary'>Go to Home</a>
        {% endif %}
    </main>
</body>