{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/general-style.css' %}">
</head>
<body>
    {% include 'layouts/Header.html' %}
    <main class='flex flex-column flex-center'>
        <img src="{% static 'images/poli.jpg' %}" alt="imagen poli" class='w-full p-30' >
    </main>
    <section class="grid columns-2 grid-center m-20">
        <div class="flex flex-column border p-20">
            <h5>Habilidades&colon;</h5>
            <h5>Herramientas de dominio&colon;</h5>
        </div>

        {% include 'layouts/info.html' %}
    </section>

</body>