<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static './styles/auth.styles.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta description="Login page for the main app">
    <title>Login</title>
</head>
<body>
    <main class="auth-container">
        <div class="auth-form">
            <h1>Login</h1>
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" placeholder="Paco1234" id="username" name="username" class="{% if error_fields.username %} error {% endif %}" autocomplete="username"/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" placeholder="Paco1234." id="password" name="password" class="{% if error_fields.password %} error {% endif %}" autocomplete="current-password"/>
                    <i id="showLoginPassword" class="bx bx-message-square interactive"></i>
                </div>
                <div class="form-group">
                    <button id="login-btn" type="submit">Login</button>
                </div>
            </form>
            <div class="form-space">
                <p>¿No tienes cuenta? <a href="{% url 'register' %}">Registrate</a></p>
            </div>
        </div>
        <div class="auth-info">
            <h2>Hola de nuevo, que gusto verte!</h2>
            <img src="{% static './images/astro.png' %}" alt="astro image" />
        </div>
        {% if messages %}
            <div class="alert-holder">
                {% for message in messages %}
                    <div class="alert alert-error">
                        <img src="{% static './images/error.jpg' %}" alt="alert image" />
                        <div class="alert-message">
                            <h3><i class="bx bx-error"></i> Error</h3>
                            <p>{{ message }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </main>
</body>
<script src="{% static './scripts/loginScript.js' %}"></script>
</html>