<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static './styles/auth.styles.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Register</title>
</head>
<body>
    <main class="auth-container">
        <div class="auth-form">
            <h1>Register</h1>
            <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" placeholder="Paco1234" id="username" name="username"  class="{% if error_fields.username %} error {% endif %}" autocomplete="name"/>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" placeholder="paco123@algo.otro" id="email" name="email"  class="{% if error_fields.email %} error {% endif %}" autocomplete="email" />
                    <i id="email-indicator" class="bx bx-envelope"></i>
                </div>
                <div class="group-switch">
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" placeholder="Paco1234." id="password" name="password"  class="{% if error_fields.password %} error {% endif %}" />
                        <i id="showPassword1" class="bx bx-message-square interactive"></i>
                    </div>
                    <div class="form-group">
                        <label for="password2">Confirm Password</label>
                        <input type="password" placeholder="Paco1234." id="password2" name="password2" class="{% if error_fields.password %} error {% endif %}" />
                        <i id="showPassword2" class="bx bx-message-square interactive"></i>
                    </div>
                </div>
                <div class="form-group">
                    <button id="register-btn" type="submit">Register</button>
                </div>
            </form>
            <div class="form-space">
                <p>Ya tienes cuenta? <a href="{% url 'login' %}">Inicia sesion</a></p>
            </div>
        </div>
        <div class="auth-info">
            <h2>Es un placer que quieras hacer parte de nosotros</h2>
            <img src="{% static './images/chaotic.png' %}" alt="astro image" />
        </div>
        {% if messages %}
            <div class="alert-holder">
                {% for message in messages %}
                    <div class="alert alert-error">
                        <img src="{% static './images/error.jpg' %}" alt="alert image" />
                        <div class="alert-message">
                            <h3><i class="bx bx-error"></i> Error</h3>
                            <p>{{ message }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </main>
</body>
<script src="{% static './scripts/registerScript.js' %}"></script>
</html>