.categoria-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 100%;
    padding: 1rem;
    border: none;
}

.categoria-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
}

.categoria-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    padding-bottom: 1rem;
}

.categoria-info {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.producto-link:hover {
    text-decoration: none;
}

.producto-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
    border: none;
    background-color: transparent;

    width: 220px;
    height: 100%;

    transition: all 0.3s ease;
}

.producto-container p {
    margin: 0;
    color: #36384A;
    text-decoration: none;
}

.producto-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    overflow: hidden;

    position: relative;
}

.producto-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.producto-categoria {
    position: absolute;
    top: 0;
    left: 0;
    padding: .2rem 1rem;
    margin: 0;
    background-color: #E5E7EB;
    color: #4C4F69;
    font-size: 0.8rem;
    font-weight: 600;
}

.producto-title {
    font-size: 1rem;
    font-weight: 600;
    color: #333;
}

.producto-price {
    font-size: 1rem;
    font-weight: 600;
    color: #333;
}

.producto-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 100%;
    height: 100%;
    
    margin-top: 5%;
    padding: 5%;
    border: none;
}

.producto-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.producto-detalles {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border: #E5E7EB 1px solid;
    gap: 0.5rem;
}

.producto-detalles p {
    font-weight: 600;
}

.producto-detalles span {
    font-weight: 400;
}

.producto-info p {
    margin: 0;
    color: #36384A;
}

.producto-info h3 {
    margin: 0;
    color: #333;
}

.product-images {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-images .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.product-images .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-images .preview-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.product-images .preview-container .preview-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
}

.product-images .preview-container .preview-img.active {
    border: 2px solid #333;
}

.product-images .preview-container .preview-img:hover {
    border: 2px solid #33333385;
}

.categoria-view {
    display: flex;
    flex-direction: column;

    justify-content: center;

    gap: 1rem;
    padding: 1rem;
    border: none;

    width: 100%;
    height: 100%;
}

.categoria-view .categoria-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
}

.categoria-view .categoria-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    padding-bottom: 1rem;

    width: 100%;
    height: 100%;

    overflow-y: scroll;
}