{% load static %}
<link rel="stylesheet" href="{% static 'css/general-style.css' %}">
<header>
    <nav>
        {% if user.is_authenticated or request.path == '/auth/register/' or request.path == '/auth/login/' %}
            <ul>
                {% if user.is_authenticated %}
                    <li><a class="btn primary" href="{% url 'tienda' %}">Inicio</a></li>
                {% else %}
                    <li><a class="btn primary" href="{% url 'home' %}">Inicio</a></li>
                {% endif %}
            </ul>
        {% else %}
            <a class="btn primary"  href="{% url 'login' %}">Login</a>
            <a class="btn outline primary" href="{% url 'register' %}">Register</a>
        {% endif %}
    </nav>

    <div class="right-content">
        <a href="#"><img src="{% static 'images/carrito.png' %}" alt="carrito"></a>
    </div>
</header>