{% load static %}
{% if user.is_authenticated %}
<div class="flex flex-row">
    <img src="{% static 'imgages/registro.png' %}" alt="registro">
    <div class="flex flex-column">
        <p>Nombre: <span>{{ user.nombre }}</span></p>
        <p>Apellido: <span>{{ user.apellido }}</span></p>
        <p>Cedula: <span>{{ user.cedula }}</span></p>
        <p>Correo: <span>{{ user.email }}</span></p>
    </div>
</div>
{% endif %}