<doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>
    <main class="auth-holder">
        <div class="auth-form">
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                
                <formfield>
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="{% if error_fields.username %}error{% endif %}"/>
                </formfield>
                <formfield>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="{% if error_fields.password %}error{% endif %}"/>
                </formfield>
                <button type="submit">Login</button>
            </form>
            <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
        </div>
        <div class="auth-info">
            <h2>Log in to your account</h2>
            <p>Enter your username and password to log in to your account.</p>
            <img src="{% static 'images/login.jpg' %}" alt="Login" />
        </div>
    </main>
    {% if errors %}
        <div class="toast-container">
            {% for error in errors %}
                <div class="toast">
                    <div class="toast-header">
                        <img src={% static "images/toast.jpg" %} alt="Toast" />
                    </div> 
                    <div class="toast-body">
                        <strong>Error</strong>
                        <p>{{ error }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</body>
</html>