<doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>
    <main class="auth-holder">
        <div class="auth-form">
            <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}
                <div class="form-group">
                    <formfield>
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" class="{% if error_fields.username or error_fields.all %}error{% endif %}" />
                    </formfield>
                </div>
                <div class="form-group">
                    <formfield>
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" id="nombre"  class="{% if error_fields.nombre or error_fields.all %}error{% endif %}" />
                    </formfield>
                    <formfield>
                        <label for="apellido">Apellido</label>
                        <input type="text" name="apellido" id="apellido"  class="{% if error_fields.apellido or error_fields.all %}error{% endif %}" />
                    </formfield>
                </div>
                <div class="form-group">
                    <formfield>
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password"  class="{% if error_fields.password or error_fields.all %}error{% endif %}"/>
                    </formfield>
                    <formfield>
                        <label for="confirm">Confirm Password</label>
                        <input type="password" name="confirm" id="confirm"  class="{% if error_fields.password or error_fields.all %}error{% endif %}" />
                    </formfield>
                </div>
                <div class="form-group">
                    <formfield>
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email"  class="{% if error_fields.email or error_fields.all %}error{% endif %}" />
                    </formfield>
                    <formfield>
                        <label for="telefono">Telefono</label>
                        <input type="phone" name="telefono" id="telefono"  class="{% if error_fields.telefono or error_fields.all %}error{% endif %}"/>
                    </formfield>
                </div>
                <div class="form-group">
                    <formfield>
                        <label for="direccion">Direccion</label>
                        <input type="text" name="direccion" id="direccion"  class="{% if error_fields.direccion or error_fields.all %}error{% endif %}"/>
                    </formfield>
                    <formfield>
                        <label for="nacimiento">Fecha Nacimiento</label>
                        <input type="date" name="nacimiento" id="nacimiento"  class="{% if error_fields.fecha_nacimiento or error_fields.all %}error{% endif %}"/>
                    </formfield>
                </div>
                <button type="submit">Register</button>
            </form>
            <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
        </div>
        <div class="auth-info">
            <h2>Register your account</h2>
            <p>Enter your personal details and start your journey with us.</p>
            <img src="{% static 'images/register.jpg' %}" alt="Register" />
        </div>
    </main>
    {% if errors %}
        <div class="toast-container">
            {% for error in errors %}
                <div class="toast">
                    <div class="toast-header">
                        <img src={% static "images/toast.jpg" %} alt="Error" />
                    </div> 
                    <div class="toast-body">
                        <strong>Error</strong>
                        <p>{{ error }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</body>
</html>
    