<doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gestionar</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>
    {% include 'layouts/Navbar.html' %}
    <main>
        <div>
            <form method="POST" action="{% url 'gestionar_productos' %}" enctype="multipart/form-data">
                {% csrf_token %}
                
                <formfield>
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre">
                </formfield>
                
                <formfield>
                    <label for="descripcion">Descripción</label>
                    <input type="text" name="descripcion" id="descripcion">
                </formfield>
                
                <formfield>
                    <label for="precio">Precio</label>
                    <input type="text" name="precio" id="precio">
                </formfield>
                
                <formfield>
                    <label for="imagen">Imagen</label>
                    <input type="file" name="imagen" accept="image/*" id="imagen">
                </formfield>
                
                <button type="submit">Create Product</button>
            </form>            
        </div>
    </main>
</body>
</html>