<doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/productos.css' %}">
</head>
<body>
    {% include 'layouts/Navbar.html' %}
    <main>
        <section class="product-list">
            {% for product in product_list %}
                <div class="product">
                    <div class="product-image">
                        <img src="{{ product.imagen.url }}" alt="{{ product.nombre }}">
                    </div>
                    <div class="product-info">
                        <h3>{{ product.nombre }}</h3>
                        <p>{{ product.descripcion }}</p>
                        <p class="price">{{ product.precio }}</p>
                        <a href="{{ product.id }}">View Product</a>
                    </div>
                </div>
            {% endfor %}
        </section>
    </main>
</body>
</html>