<doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Producto</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/productos.css' %}">
</head>
<body>
    {% include 'layouts/Navbar.html' %}
    <div class="product-content">
        <div class="product-image">
            <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
        </div>
        <div class="product-info">
            <h1>{{ producto.nombre }}</h1>
            <hr class="separator">
            <p class="description">{{ producto.descripcion }}</p>
            <span class="price">Precio: {{ producto.precio }}</span>
        </div>
    </div>
</body>
</html>