<doctype html>
    {% load static %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
        {% include 'layouts/Navbar.html' %}
        <main>
            <h1>Home</h1>
            {% if user.is_authenticated %}
                <p>Welcome, {{ user.username }}!</p>
            {% else %}
                <p>Welcome, new user!</p>
            {% endif %}
            <p>Take a look at our <a href="{% url 'productos' %}">products</a>!</p>
        </main>
    </body>
    </html>