{% load static %}
<header>
  <div>
    <a href="{% url 'index' %}">
      <img
      src="{% static 'images/logo.jpg' %}"
      alt="Logo"
      width="60"
      height="60"
    />
    </a>
  </div>
  <nav>
    {% if user.is_authenticated %}
        <a class="button" href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a class="button" href="{% url 'register' %}">Register</a>
    {% endif %}
  </nav>
</header>  
